body {
    background-color: #ffe4bf;
}

ul li {
    color: #a53b21;
    background-color: #eda849;
    border: solid 2px #d95838;
    border-radius: 0;
    font-weight: bold;
}

ul li:active {
    background-color: #db9839;
    border: 0;
}

#header {
    color: #332a23;
    border-bottom: solid 2px #d95838;
}

#footer {
    background-color: #ffe4bf;
}

#footer a {
    background-image: url("../img/logo-cabang.png");
}