body {
    background-color: #fdf46b;
}

ul li {
    color: #fff;
    background-color: #3da0d9;
    border: solid 1px #639b8e;
    box-shadow: 3px 3px #f09785;
    border-radius: 0;
}

ul li:active {
    background-color: #43b3f3;
    border: solid 1px #639b8e !important;
}

#header {
    color: #3da0d9;
    border-bottom: solid 2px #3da0d9;
}

#footer {
    background-color: #fdf46b;;
}

#footer a {
    background-image: url("../img/logo-cabang.png");
}